.submitBtn{
  padding: 8px 48px;
  background: $primary;
  border: 2px solid $background;
  border-radius: 12px;
}
.actionBtn{
  display: inline-flex;
  overflow: hidden;
  font-size: 14px;
  text-decoration: none !important;
  padding: 6px 10px;
  background: $primary;
  border: 1px solid $background;
  border-radius: 4px;
  color: $background !important;
}