.colorDark{
  color: #191919;
}
.primaryBackground{
  background: #79DEF2 !important;
  color: #191919 !important;
}
.errorText{
  color: #F20050 !important;
}
.errorBackground{
  background: #F279A1 !important;
  color: #191919 !important;
}
.successText{
  color: #79F28D !important;
}
.successBackground{
  background: #79F28D !important;
  color: #191919 !important;
}
