// $background: #191919;
$background: #f5f5f5;
$background-secondary: #f1f1f1;
$text: #101010;
$primary: #0060CC;
$primaryLight: #99CCFF;
$primaryDark: #003388;
$error: #F20050;
$errorLight: rgb(204, 0, 96);
$success: rgb(0, 204, 96);

.colorDark{
  color: $background;
}
.primaryBackground{
  background: $primary !important;
  color: $background !important;
}
.errorText{
  color: $error !important;
}
.errorBackground{
  background: $errorLight !important;
  color: $background !important;
}
.successText{
  color: $success !important;
}
.successBackground{
  background: $success !important;
  color: $background !important;
}
