// $background: #191919;
$background: #f5f5f5;
$background-secondary: #f1f1f1;
$text: #101010;
$primary: #0060CC;
$primaryLight: #c8e1fa;
$primaryDark: #003388;
$error: #F20050;
$errorLight: rgb(204, 0, 96);
$success: rgb(0, 204, 96);
$elevation1: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
$elevation2: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
$elevation8: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);

.colorDark{
  color: $background;
}
.primaryBackground{
  background: $primary !important;
  color: $background !important;
}
.errorText{
  color: $error !important;
  padding-bottom: 16px !important;
}
.errorBackground{
  background: $errorLight !important;
  color: $background !important;
}
.successText{
  color: $success !important;
}
.successBackground{
  background: $success !important;
  color: $background !important;
}
