// Main Layouts
.defaultLayout{
  background: $background;
}
.pageContent{
  background: $background;
  padding: 64px 128px 128px 128px;
  min-height: calc(100vh - 60px) !important;
}

// User Authentication
.userForm{
  max-width: 256px;
  margin: 16px 0px;
}

// media queries
/* On screens that are 650px wide or less*/
@media screen and (max-width: 650px) {
  .pageContent{
    padding: 16px 32px 32px 32px;
  }
}