// Main Layouts
.defaultLayout{
  background: #202020;
}
.pageContent{
  background: #202020;
  padding: 64px 128px 128px 128px;
  min-height: calc(100vh - 60px) !important;
}

.templateGrid {
    background: #202020;
    padding: 64px 128px 128px 128px;
    min-height: calc(100vh - 60px) !important;
}

// User Authentication
.userForm{
  max-width: 256px;
  margin: 16px 0px;
}
