@import 'colors', 'layout', 'browserOverwrites', 'iconOverwrites', 'vuetifyOverwrites', 'text.scss', 'buttons.scss';
*{
  color: $text;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  color: $primary !important;
  font-family: 'Bodoni', serif !important;
}
