@import 'colors', 'layout', 'browserOverwrites', 'iconOverwrites', 'vuetifyOverwrites', 'text.scss', 'buttons.scss';
body{
  color: $text;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  color: $text;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  color: $primary !important;
  font-family: 'Bodoni', serif !important;
}

path{
  fill: $text;
}

// NEEDS CLEAN UP
.listCard{
  width: 100%;
  background: $background-secondary !important;
  box-shadow: $elevation1 !important;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.listCard:hover{
  background: $primaryLight !important;
}
.listItem{
  text-transform: capitalize;
}
.formCreateHeading{
  display: flex;
  justify-content: space-between;
}

.listRow{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.buttonDelete{
  border-radius: 4px;
  padding: 6px 10px;
  margin-left: 8px;
  border: 1px solid $text;
  box-shadow: $elevation2;
}