// Headings
.logo{
  color: $primary !important;
  font-family: 'Bodoni', serif;
  font-size: 28px;
  font-weight: 700;
}
.subHeading{
  color: $primaryLight !important;
  font-family: 'Bodoni', serif !important;
  font-size: 1.5em;
}

// Links
.prompt{
  color: $primary !important;
}

// User Authentication
