// Vuetify Overwrites
.v-application p {
  margin-bottom: 0px;
}
.v-application p {
  text-decoration: none !important;
}
.row{
  margin: 0 !important;
}

.v-label, .v-application .primary--text{
  color: $primary !important;
  background: transparent !important;
}
.v-input__slot .error--text{
  color: $error !important;
}
.v-input__slot {
  background: $background !important;
}
.v-input input{
  color: $text !important;
}